@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 8px 16px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
}

a {
  color: #666;
  text-decoration: none;
}

.footer,.header{
  margin: 0px;
  padding: 17px;
  display: flex;
  justify-content: space-between;
}
.whole{
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}
.content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex: 2;
}
.buttons{
  height: 35px;
  width: 255px;
}
.footer {
  background: #eee;
}